.header-container {
    display: flex;
    flex-direction: row;
    padding-right: 40px;

}
.header-nav {
    display: flex;
    flex-direction: row;
    gap: 20px
}

ul {
    list-style-type: none;   
}
.nav-container {
    
}
.address-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.address-container {
    
}
.address-contact-link {
    text-decoration: none;
}

.title-hero {
    font-family: 'Dela Gothic One', cursive;
    width: 560px;
    text-align: left;
    font-size: 88px;
    color: blue;
    -webkit-text-stroke: 2px rgb(253, 251, 252);
    text-shadow: linear-gradient(to right, #00ff00, #006400);
}

.button-hero {
    font-weight: 600;
    width: 148px;
    height: 40px;
    background-color: blue; 
    color:rgb(253, 251, 252);  
}
.hero-section {
    padding: 120px;
    background-image: linear-gradient(rgba(217, 231, 15, 0.3), rgba(101, 63, 238, 0.4)), url("../image/photo.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover; 
    
    display: flex;
    flex-direction: row;
    
    
    
}